h1, h2, h3 {
  color: #582f0e;
}

.Texts {
  display: flex;
  align-items: center;
}

.Prod {
  display: flex;
  justify-content: space-between;
  margin: 0 3% 1% 3%;
}

.SeeMoreText {
  color: #582f0e;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: #9c7652;
  }
}

h1, h3 {
  margin: 3%;
}
  
  .Cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

.Grafics {
  display: flex;
  justify-content: center;
  margin: 3% 0 5% 0;
}

.h2Ventas {
  margin: 3% 0 0 3% ;
}