.Header{
  background-color: white;
  border: 1px black solid;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

.h31 {
  color: #582f0e;
  font-weight: bolder;
}

.SubHeader{
  display: flex;
  flex-direction: row;
}

.InfoCards{
  width: 100%;
}

.CardsInfo{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.BestCard{
  display: flex;
  width: 25em;
  margin: 3%;
  border: 1px solid black;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}

.Grafics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3% 0 5% 3%;
}

.h2Ventas {
  margin: 3% 0 0 3% ;
}

.SeeMoreText {
  color: #582f0e;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: #9c7652;
  }
}