.img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}
.total{
    font-size: 20px;
}
.cardCont{
    display: flex;
    flex-direction: column;
    width:90%;
    height: 20vh;
    border: 1px solid #dedede;
    border-radius: 25px;
    background-color: beige;
}
.title{
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-weight: bold;
}
.info{
    padding: 20px;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.deleteButton{
    background: none;
    border: none;
    cursor: pointer;
}
.incrementDecrement{
    width: 4vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;
}
.delete{
    height: 50px !important;
    width: 30px !important;
    font-size: 20px !important;
}

.delete:hover{
    transform: scale(1.2);
    transition: 0.9s;
    color: red !important;
}
.incrementDecrement button{
    cursor: pointer;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    border: none;
    background: black;
    color: white;
}