.CartCon{
    width: 100vw;
    height: 88vh;
    margin-top: 9vh;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
    gap: 20px;
    font-family: var(--primary-font);
}

.productsCont{
    width: 50vw;
    height: 70vh;
    border: 1px solid #dedede;
    border-radius: 20px;
    padding: 10px;
    gap: 10px;
    overflow-y: scroll;
    
}
.productsCont::-webkit-scrollbar {
    width: 10px;
}
  
.productsCont::-webkit-scrollbar-thumb {
    background-color: black; 
    border-radius: 6px; 
}
  
.productsCont::-webkit-scrollbar-track {
    background-color: white; 
}
.resumeCont{
    width: 25vw;
    height: 50vh;
    border: 1px solid #dedede;
    border-radius: 20px;
}
.resumeTitle{
    border-bottom: 1px solid #dedede;
    width: 25vw;
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: start;
    color: black !important;
}

.payment{
    padding: 20px;
    height: 42vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.paymentInfo{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
}
.paymentButton{
    height: 20%;
    width: 100%;
}
.total{
    font-weight: bold;
}