.CartCon{
    width: 100vw;
    height: 88vh;
    margin-top: 9vh;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
    gap: 20px;
    font-family: var(--primary-font);
    
}

.productsCont{
    width: 50vw;
    height: 70vh;
    border-radius: 20px;
    padding: 10px;
    gap: 10px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 0.5;
    
}
.productsCont::-webkit-scrollbar {
    width: 5px;
}
  
.productsCont::-webkit-scrollbar-thumb {
    background-color: black; 
    border-radius: 6px; 
}
  
.productsCont::-webkit-scrollbar-track {
    background-color: white; 
}
.resumeCont{
    width: 25vw;
    height: 50vh;
    border: 5px solid rgb(200, 174, 125);
    
    border-radius: 20px;
    
}
.resumeTitle{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dedede;
    width: 25vw;
    height: 8vh;
    flex-direction: column;
    justify-content:center;
    
}
.title{
    color:black
}
.payment{
    padding: 20px;
    height: 42vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.paymentInfo{
    height: 34vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.itemsCont{
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}
.itemsCont::-webkit-scrollbar {
    width: 5px;
}
  
.itemsCont::-webkit-scrollbar-thumb {
    background-color: black; 
    border-radius: 5px; 
}
  
.itemsCont::-webkit-scrollbar-track {
    background-color: white; 
}
.listItems{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 12px;
    padding: 5px;
}
.item{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
}
.priceCont{
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.paymentButton{
    height: 8vh;
    width: 100%;
}
.total{
    font-weight: bold;
}
.buyButton{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.402);
    color: white;
    cursor: pointer;
    font-size: 23px;
}

.buyButton:hover{
    background-color: rgb(234, 198, 150);
    transition: 0.8s;
}
.buyButton:disabled{
    background: grey;
}