.Container {
  display: flex;
  width: 100%;
}

.Panel {
  width: 100%;
  min-height:100dvh;
  display: flex;
  flex-direction: column;
  margin-left: 19.5%;
  background-color: #EDE0D4;
  padding-bottom: 5%;
}

@media (max-width: 768px) {
  .Panel {
    margin-left: 11.5vh;
  }
}

@media (max-width: 500px) {
  .Panel {
    margin-left: 10vh;
    background-color: cadetblue;
  }
}