.Cards {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 3%;
}


.buttons {
    margin: 2%;
    display: flex;
    justify-content: space-around;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .marron {
    background-color: #582f0e;
  }
  
  .marron:hover {
    background-color: #9c7652;
  }
  
  .Prod {
    display: flex;
    justify-content: space-between;
    margin: 0 3% 1% 3%;
<<<<<<< HEAD
=======
    align-items: first baseline;
>>>>>>> develop
  }

  .Prod h2 {
    color: #8B4513;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2% 0 0 0;
    font-weight:bold;
  }
  
  .SeeMoreText {
    color: #582f0e;
    cursor: pointer;
    transition: color 0.3s;
  
    &:hover {
      color: #9c7652;
    }
  }
