.historyContainer {
    width: 100%;
}
.descriptions{
    margin-bottom: 5vh;
}

.descriptions *{
    width: 17%;
    font-size: 0.75rem;
}

.productsTitle{
    margin-bottom: 2vh;
}

.productCard {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20vh; 
    overflow: hidden;
}
.imageContainer{
    width: 30vh;
    height: 20vh;
}
.productImage {
    height: 100%;
    width: 20vh;
    object-fit: cover;
}

.rateProduct{
    position: absolute;
    right: 2%;
    bottom: 5%;
}