.profileContainer{
  min-height: 100vh;
  margin: 5vh 0;
}
.userCard{
  width: 130vh;
  min-height: 80vh;
}
.loading .ant-spin-dot i {
  background-color: #EAC696 !important;
}

.loading{
  margin-top: 25vh;
  background-color: #EAC696 !important;
}
.alert{
  width: 80vh;
  margin-top: 25vh;
}