.menuCont{
    position: absolute;
    top: 12vh;
    width: 100vw;
    height: 88vh;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    background: rgb(200, 174, 125, 0.5);
    font-family: var(--primary-font)
}
.itemsCont{
    background: var(--brown);
    height: 88vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.itemsList{
    list-style: none;
    height: 80vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.link{
    text-decoration: none;
    color: white;
}