/* CSS CARD */

:root {
    --color-grey-primary: #f0f0f0;
    --color-yellow-primary: goldenrod;
    --color-orange-primary: darkorange;
    --color-green-primary: mediumseagreen;
    --color-beige-primary: #C8AE7D;
  }
  
  .productList {
    display: flex;
    justify-content: space-between;
    margin: 4vh;
  }
  .card{
    background-color: var(--color-grey-primary);
  }
  .card:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
  }
.link{text-decoration: none;}
  
  .img {
    max-width: 100%;
  }
  .name{
    font-size: 1.15rem;
    margin-bottom: 15%;
  }
  .raiting{

  }
  .price{
    font-size: 1.4rem;
    bottom: 0;
    position: absolute;
    left: 0;
    margin: 5%;
  }
  .buttons{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5%;
  }
  .button{
    border: 1px solid var(--color-orange-primary) !important;
    color: var(--color-orange-primary) !important;
  }
