/* CSS CARD */

:root {
    --color-grey-primary: #f0f0f0;
    --color-yellow-primary: goldenrod;
    --color-orange-primary: darkorange;
    --color-green-primary: mediumseagreen;
  }
  
  .productList {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
  }
  
  .productCard {
    position: relative;
    background-color: var(--color-grey-primary);
    margin: 2rem;
    flex: 1 0 25rem;
    max-width: 23rem;
    max-height: 51rem;
    transition: 0.2s;
  }
  
  .productCard:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
  }
  
  .img {
    margin-top: 2rem;
    margin-left: 3rem;
    max-width: 100%;
    height: 310px; 
    width: 280px; 
  }
  
  .productCard__cart {
    position: absolute;
    right: 0;
    margin: 1rem;
    font-size: 2rem;
    transition: 0.2s;
    cursor: pointer;
  }
  
  .productCard__wishlist {
    position: absolute;
    right: 3rem;
    margin: 1rem;
    font-size: 2rem;
    transition: 0.2s;
    cursor: pointer;
  }
  
  .productCard__fastSelling {
    position: absolute;
    font-size: 2rem;
    left: 0;
    margin: 1rem;
    fill: var(--color-orange-primary);
  }
  
  .productCard__content {
    margin: 2rem;
  }
  
  .productName {
    font-size: 1.5rem;
  }
  
  .displayStack__1,
  .displayStack__2 {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .productPrice {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .productSales,
  .productTime {
    font-size: 1.1rem;
  }
  