.Container {
    margin: auto;
    width: 40vw;
  }
  .form {
    width: 100%;
    border: 1px solid #f0ead2;
    margin: 1%;
    border-radius: 1rem;
    padding: 5%;
    justify-content: center !important;
    text-align: center;
  }
  .title{
    margin-bottom: 5%;
  }
  .input{
    width: 20rem;
  }