.Container {
    display: flex;
    justify-content: center;
  }
  
  .Form {
    min-width: 50%; /* Aumentamos el ancho del formulario */
    background-color: #8B4513; /* Color de fondo marrón */
    padding: 20px; /* Agregamos espacio alrededor del formulario */
  }
  
  .Form .ant-form-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .Form .ant-form-item-label {
    min-width: 30%; /* Ancho del label */
    color: orange; /* Color del label */
  }
  
  .Form .ant-form-item-control-input {
    max-width: 70%; /* Ancho del input */
    background-color: #D2B48C; /* Color de fondo marrón claro */
  }
  
  .Form button {
    background-color: #D2B48C; /* Color de fondo del botón */
    color: black; /* Color del texto del botón */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .Form button:hover {
    background-color: #8B4513; /* Cambiamos el color de fondo en el hover */
    color: white; /* Cambiamos el color del texto en el hover */
  }
  