.searchCont{
    width: 100vw;
    height: 12vh;
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

.searchbarCont{
    width: 100%;
    min-height: 200px;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchBar{
    width: 100%;
    max-width: 400px;
    background: white;
    border:  2px solid #dedede;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}

.searchBar input{
    background: transparent;
    flex: 1;
    border:0;
    outline:none;
    font-size:20px;
    color: gray;
}
::placeholder{
    color: gray;
    font-family: var(--primary-font);
}

.searchBar button img{
    width: 16px
}   
.searchBar button{
    border: 1px solid #dedede;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: white;
    cursor: pointer;

}