/* .homeContainer{

} */
.carouselContainer{
    margin-top: 5%;
    width: 100%;
    height: 50vh;
    background-color: orange;
}
.sliceContainer{
    display: "flex";
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-size: cover; 
    background-position: center; 
    overflow: hidden; 
}
.images{
    width: 100%;

    object-fit: cover;
}

.paginationCont{
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    flex-wrap: wrap;
    gap: 2em;
    backdrop-filter: blur(0);
    background-color: rgba(255, 232, 214, 0.5);
    width: 90%;
    margin: 3px auto 0;
    padding: 25px;
}