.homeContainer {
  width: 100vw;
  height: auto;
  background-color: #EDE0D4;
}

.cardCont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  width: 100vw;
}
.cardLayout{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 90vw;
}
#map {
  height: 500px;
  width: 100vw;
}

.pagCont{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#components-pagination-demo-mini .ant-pagination:not(:last-child) {
  margin-bottom: 20px;
  
}

.searchResult{
  font-family: var(--primary-font);
  font-size: 16px;
  margin: 40px 0 40px 0;
}
.errorSearch{
  font-family: var(--primary-font);
  font-size: 24px;
  margin: 60px 0 40px 0;
}
.whatsapp-icon {
    position: fixed;
    bottom: 20px; /* Ajusta la distancia desde la parte inferior de la pantalla */
    right: 20px; /* Ajusta la distancia desde el lado derecho de la pantalla */
    font-size: 50px;
    background-color: #25D366; 
    color: #fff; /* Color del ícono */
    border-radius: 50%; /* Para hacerlo circular */
    width: 70px; /* Ajusta el tamaño según tus preferencias */
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 999;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1.2);
}


.whatsapp-icon:hover {
    transform: scale(1.2);
    transition: 0.9s;
}

.content {
  display: flex;
  flex-direction: row;

  background-color: beige;
  justify-content: space-around;
  

  background-color: #EAC696;
  justify-content: space-around;
  margin-bottom: 3%;
  margin-top: 3%;
  align-items: center;

}

.contentBanner {
  font-family: var(--primary-font) !important;
}

.contentImg {
  width: 20% !important;

  height: 20% !important;
  object-fit: cover !important;
  padding: 15px !important;

  height: 0% !important;
  object-fit: cover !important;
  padding: 15px !important;
  border-radius: 50%;

}

.h1 {
  font-weight: bold !important;
  color: chocolate !important;

}

.text {
  font-size: 16px !important;
  color: chocolate !important;
}

  

.h3 {
  color: chocolate !important;
}


.text {
  font-size: 20px !important;
  color: chocolate !important;
}


.chatIcon {
  position: fixed;
  bottom: 20px; /* Ajusta la distancia desde la parte inferior de la pantalla */
  right: 20px; /* Ajusta la distancia desde el lado derecho de la pantalla */
  font-size: 50px;
  background-color: rgb(211, 176, 37); 
  color: #fff; /* Color del ícono */
  border-radius: 50%; /* Para hacerlo circular */
  width: 70px; /* Ajusta el tamaño según tus preferencias */
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 999; 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 1.2);
  margin-right: 80px;
}

.chatIcon:hover {
  transform: scale(1.2);
  transition: 0.9s;
}