.Card{
    display: flex;
    flex-direction: column;
    margin: 5%;
    width: 30%;
    border-radius: 10px;
    background-color: white;
    border: solid 1px black;
    align-items: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.p1 {
    margin: 5%;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}