.filterCont{
    width: 100vw;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    background-color: #EAC696;
}
.selectCont{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--primary-font);
}