.div {
  margin-top: 2%;
  width: 100vw;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.containerPrincipal {
    margin: auto;
    width: 35vw;
    height: 50%;
    border: 0.5px solid  #f0ead2;
    border-radius: 1rem;
    padding: 40px 40px 10px 40px;
    background-color: #EAC696;
}

.containerSegundario {
    text-align: center;
}
.title{
  margin-bottom: 5%;
}
.title{
  margin-bottom: 5%;
}
.title{
  margin-bottom: 5%;
}
.title{
  margin-bottom: 5%;
}
.title{
  margin-bottom: 5%;
}

/* .divButtons {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;

} */