.div {
  margin-top: 2%;
  width: 50vh;
  margin-bottom: 5%;
}
.containerPrincipal {
  margin: auto;

  height: 50%;
    border: 0.5px solid  #f0ead2;
    border-radius: 1rem;
    padding: 40px 40px 10px 40px;
    background-color: white;
}

.containerSegundario {
    text-align: center;
}
.title{
  margin-bottom: 5%;
}