.formPage {
  background-color: #EDE0D4;
  height: 150vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  padding: 30px;
  width: 400px;
  height: auto;
  border: 1px solid black;
  border-radius: 20px;
  margin-top: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}