.div {
    padding: 20px
}
.ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 25px;
}

.selectContainer{
    display: flex;
    justify-content: center;
}
